<div class="max-[1195px]:flex-col flex mt-1 justify-around items-center w-full h-auto font-serif text-7xl text-center
 text-white  font-bold max-sm:text-3xl bg-zinc-200">



  <div (click)="academy()" class="first max-[1195px]:w-11/12 max-[1195px]:m-4 w-full  h-[705px]  flex items-center justify-center cursor-pointer"><span
      class="  p-3   w-full ">Academy</span></div>

  <div (click)="courses()" class="second w-full  max-[1195px]:w-11/12  max-[1195px]:m-4  h-[705px]  flex items-center justify-center cursor-pointer"><span
      class="  p-3  w-full ">Courses</span></div>



  <div (click)="studio()" class="third  w-full  max-[1195px]:w-11/12 max-[1195px]:m-4   h-[705px]  flex items-center justify-center cursor-pointer  "><span
      class="  p-3   w-full ">Studio</span></div>

</div>
