<header>


        <p style="letter-spacing: 0.7cm;" class="text-center animate-pulse  font-serif p-4  text-2xl   w-full font-bold max-sm:text-base   bg-slate-100/80">Studio</p>


</header>



<main class="grid  grid-cols-4 justify-items-center items-center ">


    <div id="mixing" class="col-span-1  max-sm:col-span-4   bg-black w-full h-72 flex  justify-center items-center flex-col"> <h1 class="text-fuchsia-50 uppercase  ">mixing</h1>
        <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 0 24 24" width="36px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"/></svg>
    </div>
    <div id="mastering" class="col-span-1  max-sm:col-span-4   bg-red-600 w-full h-72	 flex  justify-center items-center  flex-col" >
        <h1 class="text-fuchsia-50 uppercase ">mastering</h1>

        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 0 24 24" width="48px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 2H7c-1.1 0-2 .9-2 2v16c0 1.1.9 1.99 2 1.99L17 22c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-5 2c1.1 0 2 .9 2 2s-.9 2-2 2c-1.11 0-2-.9-2-2s.89-2 2-2zm0 16c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/></svg>
    </div>
    <div id="recordings" class="col-span-1  max-sm:col-span-4   bg-fuchsia-500 w-full h-72	flex  justify-center  items-center  flex-col">  <h1 class="text-fuchsia-50 uppercase ">recordings</h1>
        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 0 24 24" width="48px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 7c-2.76 0-5 2.24-5 5s2.24 5 5 5 5-2.24 5-5-2.24-5-5-5zm0-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/></svg>    </div>
    <div id="productions" class="col-span-1  max-sm:col-span-4   bg-pink-50 w-full h-72	 flex  justify-center  items-center 	flex-col"  > <h1 class="text-black uppercase ">productions</h1>

        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 0 24 24" width="48px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M7 18h2V6H7v12zm4 4h2V2h-2v20zm-8-8h2v-4H3v4zm12 4h2V6h-2v12zm4-8v4h2v-4h-2z"/></svg>
    </div>


    <div id="videoclips" class="col-span-4     bg-indigo-400 w-full h-72	 flex  justify-center items-center flex-col ">  <h1 class="text-fuchsia-50 uppercase ">videoclips</h1>

        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 20 20" height="48px" viewBox="0 0 20 20" width="48px" fill="#FFFFFF"><g><rect fill="none" height="20" width="20"/></g><g><path d="M18,6l-3,3V5.5C15,4.67,14.33,4,13.5,4h-9C3.67,4,3,4.67,3,5.5v9C3,15.33,3.67,16,4.5,16h9c0.83,0,1.5-0.67,1.5-1.5V11l3,3 V6z M10.5,10l2.25,1.3L12,12.6l-2.25-1.3v2.45h-1.5V11.3L6,12.6l-0.75-1.3L7.5,10L5.25,8.7L6,7.4l2.25,1.3V6.25h1.5V8.7L12,7.4 l0.75,1.3L10.5,10z"/></g></svg>

    </div>
    <div id="distributions" class="col-span-4 bg-black w-full h-72	 flex  justify-center items-center  flex-col">  <h1 class="text-fuchsia-50 uppercase ">distributions</h1>

        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 0 24 24" width="48px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39z"/></svg>
    </div>



</main>

<app-navbar2></app-navbar2>
