<header  class="flex flex-col	items-center" >



    <span style="letter-spacing: 0.6cm;" class="w-full text-sky-100 text-center font-serif p-4  text-2xl  animate-pulse  font-bold max-sm:text-base   bg-slate-100/30">Courses</span>

</header>


<main class="grid grid-cols-4  gap-1 mt-1">
<!-- grid-cols-4  for 4 colums -->
            <div id="baseCourse" class=" col-span-4  w-full h-96  col flex items-center justify-center flex-col">
<!-- this div took all fourth coulms  -->

<span class=" text-sky-100  tracking-wide  text-center font-serif  text-5xl font-extrabold"><span class="text-pink-600">Base</span>  Course</span>
<p class="text-fuchsia-50 tracking-wide text-center text-2xl font-serif ">Base Course Path of choice Instrument with lessons Weekly for 3,6,9 months
</p>


 </div>

            <div id="proCourse" class="  col-span-2  max-md:col-span-4   w-full min-h-screen flex items-center justify-center flex-col">
                <!-- this div took only two  -->
                <span class=" text-sky-100 tracking-wide  text-center  text-5xl font-extrabold font-serif "> <span class="text-red-600">Pro</span> Course</span>

            <p class="text-fuchsia-50 tracking-wide text-center text-2xl font-serif 	">Path of choice Instrument with lessons Weekly for 3,6,9 months</p>
            </div>


            <div id="babyCourse" class="col-span-2  font-serif  max-md:col-span-4  w-full min-h-screen  flex items-center justify-center flex-col">
                <span class=" text-sky-100 tracking-wide  text-center  font-serif  text-5xl font-extrabold"><span class="text-violet-600 font-serif ">Baby</span > Course</span>
            <p class="text-fuchsia-50	tracking-wide text-center text-2xl	font-serif ">
                Musical propaedeutic course for children aged 5 to 11
            </p>

            </div>



</main>


<app-navbar2></app-navbar2>
