


<header class="flex flex-col justify-between items-center ">
<div class=" w-full  bg-slate-100/70  	animate-pulse	  flex items-center justify-center">
    <span  style="letter-spacing: 0.5cm;"  class="text-center  font-serif p-4  text-2xl   w-full font-bold max-sm:text-base ">Campus </span></div>


<div class="info flex justify-between ">

 <div class=" w-1/4 h-3/5  m-8 	 max-sm:w-2/4	 flex items-center justify-center">
        <p class="bg-slate-100/70    h-auto w-full text-center text-xl font-serif tracking-wide leading-loose p-2 max-[787px]:text-xs "> {{text}}</p></div>

        <div class=" w-1/4 h-3/5  m-8  max-sm:w-2/4	 flex items-center justify-center">
            <p class="bg-slate-100/70      h-auto w-full text-center text-xl font-serif tracking-wide leading-loose p-2 max-[787px]:text-xs "> {{text2}}</p></div>



</div>


</header>


<main class="mt-1 flex justify-center">
    <div class="relative top-12 w-3/5 h-1/3 max-sm:h-24 flex items-center justify-center">
        <p class="bg-slate-100/70  h-auto w-full text-center text-xl font-serif tracking-wide leading-loose p-2 max-[787px]:text-xs ">{{text3}} </p></div>
</main>

